<!DOCTYPE html>
<html>
    <head>
        <title>Google Ads preview App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>Google Ads preview App</h1>
        </div>
    </body>
</html>